<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.MessageDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.Message">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="to_user_name" jdbcType="VARCHAR" property="toUserName" />
    <result column="from_user_name" jdbcType="VARCHAR" property="fromUserName" />
    <result column="msg_type" jdbcType="CHAR" property="msgType" />
    <result column="creat_date" jdbcType="TIMESTAMP" property="creatDate" />
    <result column="msg_id" jdbcType="VARCHAR" property="msgId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="location_x" jdbcType="VARCHAR" property="locationX" />
    <result column="location_y" jdbcType="VARCHAR" property="locationY" />
    <result column="scale" jdbcType="VARCHAR" property="scale" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="event" jdbcType="VARCHAR" property="event" />
    <result column="event_key" jdbcType="VARCHAR" property="eventKey" />
  </resultMap>
  <sql id="Base_Column_List">
    id, to_user_name, from_user_name, msg_type, creat_date, msg_id, content, pic_url, 
    title, description, url, location_x, location_y, `scale`, `label`, event, event_key
  </sql>
  <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="com.fit.entity.Message">
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="toUserName != null">
        to_user_name,
      </if>
      <if test="fromUserName != null">
        from_user_name,
      </if>
      <if test="msgType != null">
        msg_type,
      </if>
      <if test="creatDate != null">
        creat_date,
      </if>
      <if test="msgId != null">
        msg_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="locationX != null">
        location_x,
      </if>
      <if test="locationY != null">
        location_y,
      </if>
      <if test="scale != null">
        `scale`,
      </if>
      <if test="label != null">
        `label`,
      </if>
      <if test="event != null">
        event,
      </if>
      <if test="eventKey != null">
        event_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="toUserName != null">
        #{toUserName,jdbcType=VARCHAR},
      </if>
      <if test="fromUserName != null">
        #{fromUserName,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        #{msgType,jdbcType=CHAR},
      </if>
      <if test="creatDate != null">
        #{creatDate,jdbcType=TIMESTAMP},
      </if>
      <if test="msgId != null">
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null">
        #{locationX,jdbcType=VARCHAR},
      </if>
      <if test="locationY != null">
        #{locationY,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="event != null">
        #{event,jdbcType=VARCHAR},
      </if>
      <if test="eventKey != null">
        #{eventKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.Message">
    update message
    <set>
      <if test="toUserName != null">
        to_user_name = #{toUserName,jdbcType=VARCHAR},
      </if>
      <if test="fromUserName != null">
        from_user_name = #{fromUserName,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        msg_type = #{msgType,jdbcType=CHAR},
      </if>
      <if test="creatDate != null">
        creat_date = #{creatDate,jdbcType=TIMESTAMP},
      </if>
      <if test="msgId != null">
        msg_id = #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null">
        location_x = #{locationX,jdbcType=VARCHAR},
      </if>
      <if test="locationY != null">
        location_y = #{locationY,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        `scale` = #{scale,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        `label` = #{label,jdbcType=VARCHAR},
      </if>
      <if test="event != null">
        event = #{event,jdbcType=VARCHAR},
      </if>
      <if test="eventKey != null">
        event_key = #{eventKey,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null and id != ''">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="toUserName != null and toUserName != ''">
         and to_user_name = #{toUserName,jdbcType=VARCHAR}
      </if>
      <if test="fromUserName != null and fromUserName != ''">
         and from_user_name = #{fromUserName,jdbcType=VARCHAR}
      </if>
      <if test="msgType != null and msgType != ''">
         and msg_type = #{msgType,jdbcType=CHAR}
      </if>
      <if test="ctime != null ">
         and creat_date &gt;= #{ctime }
      </if>
      <if test="etime != null ">
         and creat_date &lt;= #{etime } 
      </if>
      <if test="msgId != null and msgId != ''">
         and msg_id = #{msgId,jdbcType=VARCHAR}
      </if>
      <if test="content != null and content != ''">
         and content = #{content,jdbcType=VARCHAR}
      </if>
      <if test="picUrl != null and picUrl != ''">
         and pic_url = #{picUrl,jdbcType=VARCHAR}
      </if>
      <if test="title != null and title != ''">
         and title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="description != null and description != ''">
         and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="url != null and url != ''">
         and url = #{url,jdbcType=VARCHAR}
      </if>
      <if test="locationX != null and locationX != ''">
         and location_x = #{locationX,jdbcType=VARCHAR}
      </if>
      <if test="locationY != null and locationY != ''">
         and location_y = #{locationY,jdbcType=VARCHAR}
      </if>
      <if test="scale != null and scale != ''">
         and `scale` = #{scale,jdbcType=VARCHAR}
      </if>
      <if test="label != null and label != ''">
         and `label` = #{label,jdbcType=VARCHAR}
      </if>
      <if test="event != null and event != ''">
         and event = #{event,jdbcType=VARCHAR}
      </if>
      <if test="eventKey != null and eventKey != ''">
         and event_key = #{eventKey,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="com.fit.entity.Message" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from message
    <include refid="Base_Where_List" />
    order by id desc 
    <if test="pageNumber != null and pageSize != null">
     limit ${pageNumber}, ${pageSize}
	</if>
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    select count(1) from message
    <include refid="Base_Where_List" />
  </select>
  <select id="get" parameterType="java.util.Map" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from message
     <include refid="Base_Where_List" />
  </select>
  <delete id="batchDelete">
    delete from message
     where id in (
     <foreach collection="array" item="id" separator=",">
     #{id}
     </foreach>
    )
  </delete>
  <update id="deleteTable">
    truncate table message
  </update>
  <select id="selectList" parameterType="java.lang.String" resultMap="BaseResultMap">
    ${value}
  </select>
</mapper>